<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- adjust the value to the path where the inspectcode exe was run from so file paths are determinable -->
		<add key="InspectCodeRootPath" value="C:\Program Files\JetBrains\InspectCode"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
